<mat-toolbar color="primary" class="app-header">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="main-title">{{mainTitle}}</div>
  <span class="example-spacer"></span>
  <span class="nav-tool-items">
    <div *ngIf="getCurrentUser() else elseBlock"><a mat-flat-button
                                                    routerLink="register"
                                                    (click)="logout()">Logout</a></div>
  <ng-template #elseBlock>
    <a mat-flat-button
       routerLink="signin"
       (click)="logout()">
      Login</a>
  </ng-template>
  </span>
</mat-toolbar>
<div class="main-wrapper">
  <mat-sidenav-container>
    <mat-drawer-container [hasBackdrop]="true" style="height: 100%">
      <mat-drawer #drawer>
        <mat-nav-list>
          <a mat-list-item routerLink="home" routerLinkActive="active">Home</a>
          <a mat-list-item routerLink="fanfic" routerLinkActive="active">Fanfic</a>
          <a mat-list-item routerLink="author" routerLinkActive="active">Author</a>
          <a mat-list-item routerLink="genre" routerLinkActive="active">Genre</a>
          <a mat-list-item routerLink="register" routerLinkActive="active">Register</a>
          <a mat-list-item routerLink="signin" routerLinkActive="active">Login</a>
        </mat-nav-list>
      </mat-drawer>
      <mat-drawer-content>
        <div class="main-content">
          <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>
      </mat-drawer-content>
    </mat-drawer-container>

  </mat-sidenav-container>

</div>


