<mat-toolbar color="primary" class="app-header">
  <button mat-icon-button (click)="drawer.toggle()" style="transform: scale(1.5);">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="main-title">{{mainTitle}}</div>
  <span class="example-spacer"></span>
  <span class="nav-tool-items">
    <div *ngIf="getCurrentUser()">
      <button mat-stroked-button
         routerLink=""
         (click)="logout()">Logout
      </button>
    </div>
  <div *ngIf="!getCurrentUser() && router.url !== '/signin'">
      <button mat-stroked-button color="accent" routerLink="signin">SignIn</button>
    <button *ngIf="!getCurrentUser() && router.url !== '/signin' && router.url !== '/register'"
            mat-button routerLink="register">SignUp</button>
  </div>
  </span>
</mat-toolbar>
<div class="main-wrapper">
  <mat-sidenav-container>
    <mat-drawer-container [hasBackdrop]="true" style="height: 100%" autosize>
      <mat-drawer #drawer>
        <mat-nav-list>
          <a mat-list-item routerLink="" routerLinkActive="active">Home</a>
          <a *ngIf="getCurrentUser()" mat-list-item routerLink="profile" routerLinkActive="active">Profile</a>
        </mat-nav-list>
      </mat-drawer>
      <mat-drawer-content>
        <div class="main-content">
          <main [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''">
            <router-outlet #o="outlet"></router-outlet>
          </main>

        </div>
        <app-footer></app-footer>
      </mat-drawer-content>
    </mat-drawer-container>

  </mat-sidenav-container>

</div>


