<div class="main-wrapper">
  <div style="padding-top: 10px">
    <mat-card>
      <!--    <button mat-icon-button (click)="goBack()">-->
      <!--      <mat-icon>arrow_back</mat-icon>-->
      <!--    </button>-->
      <h1 class="mat-display-2" (click)="goBack()">{{ theme.name }}</h1>
    </mat-card>
  </div>
  <mat-tab-group class="content-wrapper">
    <mat-tab label="First">
      <h1>{{ theme.name }}</h1>
    </mat-tab>
    <mat-tab label="Second">
      <button mat-icon-button (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </mat-tab>
    <mat-tab label="Third"
      ><img src="{{ theme.imageUrl }}" alt="{{ theme.name }}" />
    </mat-tab>
    <mat-tab label="KEK">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid
      aspernatur commodi, ducimus eaque eum in incidunt maxime nobis, quis quod
      ratione, unde voluptatibus! Dolores eveniet magni molestias, neque odio
      officiis porro sunt! Beatae dolorem, enim fugiat impedit labore nulla
      tempora totam voluptate! Alias amet at consectetur cupiditate dignissimos
      distinctio, dolore dolorem dolores eaque eius eos fugit id laudantium
      minima mollitia nulla odit perferendis porro qui quia quibusdam quisquam
      quos repellat reprehenderit rerum sapiente sed similique tempora tempore
      ullam ut vitae voluptas voluptate. Adipisci at, cupiditate fuga inventore
      laudantium necessitatibus perspiciatis porro quidem sequi sunt! Adipisci
      aliquid dolores ducimus eos et illum impedit laudantium officiis quae quas
      qui quidem, rem, sunt. Ad atque consequuntur enim eveniet fuga illum
      molestias nam optio praesentium sed? Atque dolores ex fuga natus placeat
      porro quaerat quia reiciendis sit velit. Aliquid aperiam autem
      consequuntur dolores minus nostrum odit, officiis ratione totam
      voluptatum! A hic modi necessitatibus quis repellat reprehenderit sunt!
      Aut facere fuga ipsam iusto natus optio tenetur! Animi asperiores
      consectetur consequuntur corporis, deleniti ipsa itaque laborum nisi,
      nostrum pariatur quae saepe temporibus ut velit veritatis! Accusamus alias
      aliquid autem, dicta distinctio ex excepturi expedita, maxime molestiae
      molestias neque nostrum odio perspiciatis quaerat quisquam sapiente sed,
      sequi sit suscipit totam ullam unde voluptatibus? Animi ea iure laborum
      nemo officia placeat porro repellendus sapiente? Aspernatur assumenda
      dolore ducimus enim fuga harum illo impedit laudantium magnam, molestias
      placeat provident, rem tempora tenetur voluptatem? A ad aliquam atque
      consequatur corporis dicta dolor doloremque dolores eligendi enim, eveniet
      ex expedita facilis fuga fugiat illo illum ipsam iste iure minus nihil non
      omnis perspiciatis placeat praesentium quas quibusdam quidem quo saepe
      sunt velit, veniam vero voluptates. Ab adipisci aliquam aliquid aperiam
      asperiores cumque delectus distinctio dolor dolores eaque earum est et
      explicabo fuga fugit ipsam laudantium minus mollitia necessitatibus
      nostrum obcaecati perferendis porro quasi quidem quod ratione repellat
      sequi sint sit, sunt tempora veniam voluptas voluptates. Ab aperiam fugiat
      illum maxime pariatur, qui quidem quis sint soluta velit? Architecto autem
      debitis dolor doloremque dolores esse est exercitationem fuga labore magni
      maiores officiis optio, quae quaerat ratione reiciendis rerum saepe
      sapiente sint tempora ullam ut voluptatum. Amet inventore necessitatibus
      numquam odio quisquam quos repudiandae, soluta? Cum fugiat officia
      voluptatem! Aliquam aperiam cumque deleniti deserunt dolorum ducimus
      eligendi est, eveniet ex fugiat id iste magnam minima natus odit optio
      repellat reprehenderit sed temporibus ut velit, veniam voluptatum. Ad
      animi blanditiis corporis cupiditate deleniti dignissimos distinctio
      dolores eveniet expedita facere illo impedit iure maxime nemo neque, nisi
      nulla officia porro quasi quidem quod quos repellat, sint velit vero
      voluptas voluptatibus. Accusantium ad beatae corporis debitis deserunt
      distinctio doloribus eius esse et explicabo facere facilis ipsam iste
      laborum libero modi necessitatibus perspiciatis quae qui, quos sint
      suscipit voluptatem voluptatibus! Aspernatur dolore magni quam voluptas?
      Aut blanditiis error exercitationem in, numquam perspiciatis qui
      veritatis. Aperiam architecto assumenda consectetur dignissimos dolore
      ducimus est, eveniet fugiat nesciunt nobis quasi sapiente, unde! Aliquam
      autem error id necessitatibus nihil numquam quaerat rem repudiandae sed
      totam? Amet assumenda delectus eaque, eius exercitationem explicabo facere
      hic nisi obcaecati, quaerat quas quasi quis reiciendis tempore temporibus.
      Accusamus blanditiis deserunt dolorum eos error eum expedita explicabo,
      fugiat iure natus, nobis nulla possimus quibusdam rem repellendus sapiente
      totam ullam? Aliquid aperiam assumenda autem consectetur, cum cumque dolor
      dolorum ducimus eius eligendi exercitationem expedita facilis, id illum in
      ipsa iusto molestias nam nemo nesciunt nulla officiis omnis possimus
      praesentium quaerat quam quasi qui quidem rem repellendus repudiandae
      tempore tenetur velit vero vitae voluptas voluptatem! Ea iusto libero
      numquam placeat quidem quod. Cumque distinctio inventore iure magni minus
      soluta, temporibus voluptates! Ad consequatur earum eligendi error, est
      fugiat iure nemo nesciunt, quaerat reiciendis repudiandae rerum sequi sint
      sunt totam ullam vel? Aliquam deserunt dolores id illum numquam odio
      reiciendis, sed. Aut impedit modi molestias! Aliquid blanditiis dolor
      eaque eius incidunt laborum magni minima nemo, neque, perspiciatis
      repellat reprehenderit velit voluptate. Cumque eligendi eos ipsam iure
      magnam nihil quisquam recusandae reprehenderit. Accusantium debitis ea
      eius hic inventore nam possimus reiciendis saepe sunt ut? Adipisci
      asperiores aut beatae, consequatur dolores esse id iste libero maiores
      mollitia necessitatibus nemo nostrum obcaecati officiis pariatur quaerat
      repudiandae similique sint! Adipisci, aspernatur beatae, culpa deleniti
      enim est expedita fugiat incidunt iste, itaque molestiae molestias nihil
      perspiciatis quis quos recusandae reprehenderit sed? Aliquam architecto
      atque dolorum ducimus, ex fugiat illo incidunt iste maiores modi nisi
      nulla odit officiis, rem, repellendus tempora veritatis vero? Alias culpa
      delectus dicta, dolore doloremque dolores eius eligendi error ex hic in
      odit omnis perferendis quam qui quia quibusdam ratione recusandae sint
      tenetur. Consequatur et in nemo omnis quos rerum. Aliquid consectetur
      consequuntur doloribus eos, facilis hic impedit modi nesciunt nulla,
      officiis omnis quas recusandae reiciendis rem sed tempore tenetur voluptas
      voluptatum. Accusamus architecto asperiores dolorem est expedita iusto
      saepe sit tempore temporibus! Aperiam assumenda at, consectetur
      consequatur cum, doloribus dolorum ex excepturi ipsum itaque, magnam neque
      nisi quasi quibusdam repellendus totam voluptatum? Aliquam asperiores
      assumenda commodi consequuntur cumque cupiditate deleniti doloremque eaque
      eos et ex inventore ipsum itaque iusto laboriosam libero magni maiores
      minima modi, molestiae numquam odio omnis pariatur perspiciatis porro quas
      quos repudiandae rerum vel veritatis! Beatae cum cumque earum fugiat
      fugit, nihil pariatur saepe similique ut vel? Alias, assumenda cum
      cupiditate dolores doloribus ducimus enim ex hic ipsa iure molestiae,
      nesciunt placeat quidem suscipit temporibus veniam voluptatem. Aliquid
      aspernatur autem eos et fugit id illum laudantium magnam modi
      necessitatibus neque qui, quo quos. Animi dolor iusto non quod quos
      repellendus vel, veniam voluptatem. Atque, dolor et incidunt maxime minus
      officia, optio perspiciatis praesentium temporibus ullam voluptatibus
      voluptatum! Adipisci, debitis distinctio dolore exercitationem facilis
      incidunt libero nisi pariatur reiciendis voluptatibus. A ab accusantium
      aliquam aliquid aspernatur assumenda aut commodi consectetur dolor dolorum
      enim est eum eveniet explicabo harum hic illo itaque libero maiores maxime
      minima, minus mollitia necessitatibus nemo nulla officia officiis omnis
      quas quis quos ratione recusandae sed sunt voluptas voluptate voluptates
      voluptatibus! Blanditiis consequatur enim ex illo iste iure laborum magnam
      possimus. Ab consectetur delectus doloremque magni natus, nostrum quasi
      qui quia repudiandae voluptatum! Ea odit porro recusandae unde.
      Consequatur cum cumque doloribus eaque illum iste, libero, magnam, nisi
      quibusdam recusandae reprehenderit soluta tempora tenetur? Ab architecto
      nam nobis nulla sapiente! Adipisci autem consequatur culpa cupiditate
      dolorum, facilis in, ipsam mollitia officia porro quas rerum sed ut. Culpa
      cum dolore error hic reiciendis vel. Consequatur cumque distinctio dolore
      eum incidunt molestiae provident, tempora ut vel velit! Accusamus beatae
      culpa cumque, delectus deserunt dolorem ipsa iure neque nobis provident
      quam repellat sed voluptatem! Assumenda blanditiis dolor est eveniet
      libero minima odio, placeat quidem, repellendus sapiente sed, veniam.
      Amet, animi beatae consequuntur cumque cupiditate delectus dignissimos, et
      fugit harum nemo officia quia repellat repellendus saepe, sequi tempore
      totam unde voluptas. Ab adipisci aperiam atque autem debitis eum illum,
      incidunt laudantium modi perferendis reprehenderit sequi ullam vitae. Ab
      consequatur culpa delectus distinctio doloremque doloribus eius eveniet
      facere fugiat fugit illo illum ipsam mollitia natus neque numquam omnis
      perferendis placeat quisquam quod, ratione reiciendis, tempore totam velit
      voluptates. Aperiam dignissimos earum fugit ipsum recusandae similique
      soluta voluptatum! Ab, asperiores dolorem ducimus, fuga id incidunt ipsam
      ipsum iusto odio officiis optio quidem quos, voluptatibus. Adipisci
      laborum perferendis perspiciatis quos temporibus. A beatae blanditiis
      dicta eos harum, iure qui sunt. Accusamus amet aut, doloremque doloribus
      eaque eos fuga illum incidunt iusto maxime modi nulla perferendis, quam
      quisquam ratione saepe, unde? Aliquid dicta, error facilis, ipsam magni
      nam necessitatibus nihil qui quia, quo quod sapiente soluta ullam ut
      veritatis vero voluptatem! Distinctio dolorum eos esse excepturi facilis
      nulla optio quas repellat sapiente sunt. Accusamus alias, atque commodi
      debitis delectus dolorem, doloribus earum explicabo facilis ipsum
      laboriosam laborum magnam magni perspiciatis porro quasi qui quia, quidem
      rem repellat sapiente ullam unde ut velit vero? Ab alias aliquam atque ea,
      exercitationem impedit quisquam suscipit? Aliquam, at consectetur fugit id
      illo ipsum odit pariatur quisquam reiciendis saepe sit sunt, ut!
      Architecto atque distinctio dolores error excepturi facilis fugiat ipsa
      itaque, maxime mollitia nisi nostrum officiis, optio pariatur perspiciatis
      quae quibusdam quo unde vero voluptas! Ab alias aliquam aspernatur beatae
      consectetur culpa cum cupiditate dolorem dolores error expedita fugit
      harum id iure magnam magni neque obcaecati officiis pariatur perferendis
      perspiciatis quaerat quam qui quo ratione repellat, rerum sequi tempora
      tempore, voluptates! Inventore molestias perferendis reprehenderit?
      Aspernatur culpa cum cumque debitis eius enim error eum excepturi fuga,
      incidunt, ipsum iste necessitatibus nisi officia optio perspiciatis
      praesentium rem, voluptatibus? Ad adipisci atque aut consequatur eligendi,
      eveniet expedita facere, hic iste maiores minima nemo provident quidem
      quisquam, sed vero vitae! Ab distinctio excepturi fugiat impedit iure
      laborum libero necessitatibus nesciunt provident, sapiente sint soluta
      suscipit vel! Culpa ea eveniet explicabo facere, impedit incidunt iusto
      magni pariatur perferendis qui sed unde ut! Aut ducimus reiciendis sint
      voluptas! Amet, dolorum eveniet magnam molestias ratione tenetur? Aliquam
      blanditiis consectetur deleniti ea eligendi harum minus, nobis quod saepe
      similique tenetur voluptate! Ab ad, aliquid cumque distinctio dolorum
      nesciunt, officiis possimus quibusdam, quidem reiciendis ut vero. Alias
      amet animi assumenda autem blanditiis commodi corporis deleniti dolore
      doloremque eaque eum impedit ipsum iste iusto laudantium molestiae
      molestias mollitia neque nisi nobis nostrum obcaecati officiis possimus
      quam quas quia, quidem quisquam quo quod quos recusandae repellat sequi
      sint sit soluta suscipit velit? A ab alias corporis cupiditate delectus
      ea, eligendi et hic ipsa iusto, labore libero nisi pariatur recusandae
      repellendus sapiente tempore vel? Accusantium aliquid culpa cum, dolore
      doloribus dolorum eaque illum iure nihil nisi non nulla qui reiciendis sit
      suscipit vel voluptatum. Aliquam autem, cum debitis dicta dignissimos ea
      incidunt ipsa laudantium nesciunt qui quia sequi similique! Aperiam
      architecto asperiores aut autem consequatur corporis debitis delectus,
      dolore dolorem doloremque doloribus ducimus eaque enim esse est
      exercitationem hic illum, incidunt ipsam iure iusto magni maiores nam
      necessitatibus officiis pariatur provident quaerat quam quisquam quo
      recusandae sint sit ullam unde vitae voluptas voluptatibus? Accusamus
      accusantium ad animi asperiores atque beatae, commodi culpa cupiditate
      debitis distinctio ducimus eligendi ex explicabo facere fugiat impedit
      itaque laborum nam nemo nisi nobis nostrum nulla odio officia perferendis
      perspiciatis possimus provident quam qui saepe sed tempora, veritatis,
      voluptatibus? Commodi cupiditate eligendi fuga id ipsum itaque iusto
      labore sed tenetur. Blanditiis cum, exercitationem impedit ipsam magnam
      odit officia quibusdam quidem reprehenderit soluta tenetur veniam vero
      vitae. Ea earum error fugit nemo quod similique? Cum deleniti distinctio
      eos illo iusto laboriosam, nostrum odit quibusdam soluta veritatis. Amet
      commodi consequatur delectus deleniti deserunt dignissimos eaque eligendi
      enim eos error eveniet excepturi facere facilis incidunt iure iusto
      laudantium, minus numquam odit officiis omnis, perspiciatis porro quasi
      quos soluta voluptatem voluptatum. Accusamus at beatae dolor dolores
      doloribus eos et excepturi facilis id impedit maxime nam nisi nulla optio
      possimus quibusdam, tempora tempore? Accusamus aliquid at atque aut
      consectetur cupiditate doloribus eligendi eum exercitationem explicabo
      fuga, illum incidunt iste laborum nam nostrum obcaecati odit perferendis
      quaerat quasi quis quisquam quo, repellendus reprehenderit rerum sequi
      soluta temporibus ullam vel voluptates? Deleniti, esse id ipsa libero
      maiores modi neque perspiciatis placeat porro ratione sed sint tempore ut.
      Deleniti dolores illo nostrum omnis saepe. Alias commodi consequatur enim
      eum illum, molestias nihil nostrum officiis quia quo sapiente similique
      sit tenetur. Aliquam aspernatur harum necessitatibus non, soluta
      voluptatibus. Ab, aperiam asperiores dolorum ea excepturi facere magni
      nemo sequi? Aut debitis doloribus impedit porro! Aliquid autem blanditiis
      distinctio, esse facilis illum neque nesciunt nihil, placeat provident,
      ratione saepe sequi veniam. Accusantium distinctio esse excepturi facilis
      fuga fugit, id iste neque obcaecati possimus provident quas quidem
      recusandae suscipit vel voluptate voluptates. Aliquam aliquid eaque error
      illum magnam, molestias nostrum numquam officia perferendis quia quod
      recusandae, rerum vel! Asperiores eaque eum inventore ipsa laborum libero,
      omnis placeat sed tempora voluptatibus? Aut cumque delectus et explicabo
      nulla, quae sequi? Aperiam dolore doloremque doloribus eveniet, expedita
      fuga illo nam natus nesciunt numquam optio perferendis quisquam quod rerum
      sapiente, unde vero voluptates! Aperiam autem consequuntur cumque
      cupiditate deserunt incidunt iusto, maxime nemo numquam odit provident
      quam quibusdam quod repudiandae soluta. Dignissimos eligendi enim et eum
      hic, incidunt itaque nulla, perspiciatis, quasi quos repudiandae tempore
      voluptates. Ad aliquid doloribus eos, error iste numquam porro quidem
      quis, suscipit tempore totam!
    </mat-tab>
  </mat-tab-group>
</div>
