<div class="main-wrapper">
  <!--style="height: calc(100% - 64px)"-->
  <div class="header-card">
    <mat-card class="mat-card-header">
      <button mat-icon-button color="accent" (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <h1 class="mat-display-2">
        {{ theme.name }}
      </h1>
    </mat-card>
  </div>
  <div class="title-divider"><mat-divider></mat-divider></div>
  <mat-card-content>
    <div
      fxLayout.gt-sm="row"
      fxLayout="column"
      fxLayoutGap="16px"
      fxLayoutAlign="space-evenly"
    >
      <div>
        <mat-card class="summary-card">
          <img
            mat-card-image
            src="{{ theme.imageUrl }}"
            alt="{{ theme.name }}"
            style="max-height: 522px; object-fit: scale-down; padding-top: 20px"
          />
          <mat-divider></mat-divider>
          <mat-card-content style="margin-top: 10px; margin-bottom: 10px">
            <mat-accordion>
              <mat-expansion-panel
                (opened)="panelOpenState = true"
                (closed)="panelOpenState = false"
              >
                <mat-expansion-panel-header>
                  <mat-panel-title
                    style="margin-top: auto; margin-bottom: auto"
                  >
                    TAGS:
                  </mat-panel-title>
                  <mat-panel-description>
                    <mat-chip-list aria-label="Tags">
                      <mat-chip
                        color="accent"
                        selected
                        *ngFor="
                          let tag of theme.tags | slice: 0:2;
                          let i = index
                        "
                        >{{ tag.name }}</mat-chip
                      >
                    </mat-chip-list>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-chip-list aria-label="Tags">
                  <mat-chip
                    color="accent"
                    selected
                    *ngFor="let tag of theme.tags | slice: 2; let i = index"
                    >{{ tag.name }}</mat-chip
                  >
                </mat-chip-list>
              </mat-expansion-panel>
            </mat-accordion>
          </mat-card-content>
          <mat-divider></mat-divider>
          <mat-card-actions>
            <div fxLayoutAlign="space-around center">
              <button mat-flat-button color="primary" style="margin: 0">
                <mat-icon>add</mat-icon>
                Add publication
              </button>
              <button mat-flat-button color="accent">
                <mat-icon>bookmark</mat-icon>
                Add to bookmarks
              </button>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
      <div fxFlex.gt-sm="60%" style="width: 100%; height: 660px">
        <mat-tab-group mat-stretch-tabs>
          <mat-tab label="Publications">
            <div *ngIf="theme.id != 0">
              <app-publications-list
                [themeId]="theme.id"
              ></app-publications-list>
            </div>
          </mat-tab>
          <mat-tab label="Authors"></mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </mat-card-content>
</div>
