<div class="main-wrapper" style="height: calc(100% - 64px)">
  <div class="theme-name-card">
    <mat-card fxLayoutAlign="start center" class="mat-card-header">
      <button mat-icon-button color="accent" (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <h1 class="mat-display-2">
        {{ theme.name }}
      </h1>
    </mat-card>
  </div>
  <br />
  <mat-divider></mat-divider>
  <br />

<mat-grid-list cols="4" style="width: 100%">
  <mat-grid-tile colspan="1" rowspan="1">
    <mat-card fxLayoutAlign="center center" class="mat-card-header" style="height: 100%">
      <h1 class="mat-display-1">
        {{ theme.name }}
      </h1>
    </mat-card>
    </mat-grid-tile>
  <mat-grid-tile colspan="3" rowspan="1">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid aperiam beatae, culpa delectus dolore ducimus ea eligendi error incidunt ipsa ipsum iste, laborum libero maiores maxime minus molestias non nulla quae quia quis quod rem tempore veritatis voluptatem voluptatibus. Atque autem dolorum eos explicabo maxime modi neque, nobis nostrum quasi ratione tempore voluptatem. Adipisci aperiam blanditiis cum distinctio explicabo, fugiat illum iure, maiores maxime officiis provident quaerat quo sapiente. Amet cumque, error incidunt libero maxime natus necessitatibus, officia, perspiciatis placeat qui quidem sapiente unde voluptatem! Doloribus eum eveniet facere incidunt iusto, nostrum obcaecati, porro praesentium quae quia saepe voluptas.
  </mat-grid-tile>
</mat-grid-list>
</div>
