<div class="publication-table">
  <table mat-table [dataSource]="simplePublicationDatasource">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let publication" matRipple>
        <img
          class="publication-image"
          src="https://upload.wikimedia.org/wikipedia/ru/7/72/%D0%9F%D0%BE%D1%81%D1%82%D0%B5%D1%80_%D0%9E%D0%BD%D0%BE_2.jpg"
          alt="{{ publication.name }}"
        />
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let publication" matRipple>
        <div class="publication-name">{{ publication.name }}</div>
        <div class="publication-author-sm" fxShow fxHide.gt-sm>
          by {{ publication.author.username }}
        </div>
        <div class="publication-update-date-sm" fxShow fxHide.gt-sm>
          {{ publication.updateDate }}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Author</th>
      <td mat-cell *matCellDef="let publication" fxHide fxShow.gt-sm>
        <mat-chip color="accent" selected>{{
          publication.author.username
        }}</mat-chip>
      </td>
    </ng-container>

    <ng-container matColumnDef="updateDate">
      <th mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>last update</th>
      <td mat-cell *matCellDef="let publication" fxHide fxShow.gt-sm>
        {{ publication.updateDate }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10]"
    [pageIndex]="0"
    [pageSize]="10"
    showFirstLastButtons
  >
  </mat-paginator>
</div>
