<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a
        *ngIf="getCurrentUser()"
        mat-list-item
        routerLink="profile"
        routerLinkActive="active"
        >Profile</a
      >
      <a mat-list-item routerLink="" routerLinkActive="active">Home</a>
      <a mat-list-item routerLink="/themes" routerLinkActive="active">Themes</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <h1 style="font-size: 36px">{{ mainTitle }}</h1>
      <span class="spacer"></span>
      <div class="auth-buttons">
        <div *ngIf="getCurrentUser()">
          <button mat-stroked-button routerLink="" (click)="logout()">
            Logout
          </button>
        </div>
        <div *ngIf="!getCurrentUser() && router.url !== '/signin'">
          <button mat-stroked-button color="accent" routerLink="signin">
            SignIn
          </button>
          <button
            *ngIf="
              !getCurrentUser() &&
              router.url !== '/signin' &&
              router.url !== '/register'
            "
            mat-button
            routerLink="register"
          >
            SignUp
          </button>
        </div>
      </div>
    </mat-toolbar>
    <div [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''">
      <router-outlet #o="outlet"></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
