<mat-toolbar color="accent" class="footer">
  <span>Made by Mikitosina</span>
  <span class="example-spacer"></span>
  <mat-icon matTooltip="@MikitaSerou" svgIcon="telegram"></mat-icon>
  &nbsp;&nbsp;
  <mat-icon matTooltip="@MikitaSerou" svgIcon="skype"></mat-icon>&nbsp;
  <a mat-icon-button href="https://www.linkedin.com/in/mikita-serou/">
    <mat-icon svgIcon="linkedin">favorite</mat-icon>
  </a>
  <a mat-icon-button href="https://github.com/MikitaSerou">
    <mat-icon svgIcon="github"></mat-icon>
  </a>
</mat-toolbar>
