/*input.ng-touched.ng-valid {border:solid green 2px;}*/
//mat-card.box
//  width: 20%
//  box-shadow: 0 0 10px 0 rgba(0,0,0,0.75)
//  .example-container
//    width: 150%
//





mat-card.box
  width: 20%
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75)
  margin-left: 25%
  margin-right: 25%
  //width: 50%

  mat-form-field
    margin-bottom: 10px
    width: 100%

  mat-card-title
    font-size: 30px
    margin-top: 5px
    margin-bottom: 20px

  button.secondary-button
    height: 80%
    width: 800%

