/*input.ng-touched.ng-valid {border:solid green 2px;}*/
//mat-card.box
//  width: 20%
//  box-shadow: 0 0 10px 0 rgba(0,0,0,0.75)
//  .example-container
//    width: 150%


mat-card
  width: 25%
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75)
  height: 67%
  margin-top: 5%
  margin-left: auto
  margin-right: auto

  .example-container
    width: 100%
    height: 100%
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: center


  mat-form-field

    margin-bottom: 2%
    width: 70%

  mat-card-title
    font-size: 30px
    margin-top: 5px
    margin-bottom: 20px

  button.main-button
    height: 70%
    width: 90%

  mat-grid-list
    width: 50%
    margin-left: auto
    margin-right: auto

  mat-grid-tile
    width: 50%
    height: 50%
