<div style="padding: 16px">
  <mat-grid-list [cols]="breakpoint" rowHeight="100px" (window:resize)="onResize({event : $event})" style="height: 10px">
    <mat-grid-tile  [colspan]="5" [rowspan]="1">
      <mat-card class="subtitle-card">
        <h1>Themes</h1>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="breakpoint == 6" [colspan]="1" [rowspan]="1">
      <div>
      <span class="column-label">Columns</span>
      <mat-slider [max]="8" [min]="3" [(ngModel)]="gridColumns" [thumbLabel]="true">
      </mat-slider>
    </div></mat-grid-tile>
  </mat-grid-list>

<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let theme of themes">
      <mat-card class="mat-elevation-z4" >
        <mat-card-header>
          <mat-card-title>{{theme.name}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{theme.imageUrl}}" alt="{{theme.name}}">
        <mat-card-content>
          <p>
            The Himalayas is a mountain range in Asia.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
</div>
