<div class="main-wrapper">
  <div  class="header-card">
  <mat-grid-list
    [cols]="breakpoint"
    rowHeight="100px"
    (window:resize)="onResize({ event: $event })"
  >
    <mat-grid-tile
      [colspan]="5"
      [rowspan]="1"
    >
      <mat-card style="width: 100%; min-height: 100%" fxLayoutAlign="start center">
        <mat-icon>local_library</mat-icon>
        <h1 class="mat-display-2">Themes</h1>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="breakpoint === 6" [colspan]="1" [rowspan]="1">
      <div>
        <span class="column-label">Columns</span>
        <mat-slider
          [max]="7"
          [min]="5"
          [(ngModel)]="gridColumns"
          [thumbLabel]="true"
        >
        </mat-slider>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
    </div>
  <div class="title-divider"><mat-divider></mat-divider></div>
  <div >
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div
        [fxFlex]="100 / gridColumns + '%'"
        fxFlex.xs="100%"
        fxFlex.sm="50%"
        *ngFor="let theme of themes"
      >
        <mat-card class="mat-card-wrapper">
          <button
            mat-mini-fab
            color="accent"
            aria-label="Example icon button with a plus one icon"
            class="corner-button"
          >
            <mat-icon>bookmark</mat-icon>
          </button>
          <div class="card-image">
          <a routerLink="/themes/{{ theme.id }}">
            <img
              md-fab-image
              mat-card-image
              src="{{ theme.imageUrl }}"
              alt="{{ theme.name }}"
            />
          </a>
          </div>
          <mat-card-title>{{ theme.name }} </mat-card-title>
          <mat-card-content>
            <!--          TODO add name of last publication-->
            Last publication
          </mat-card-content>
          <mat-card-actions fxLayoutAlign="space-around center">
            <button mat-flat-button color="primary" style="width: 50%">
              <mat-icon>add</mat-icon>
            </button>
            <button mat-button style="font-size: smaller">
              <mat-icon>people_alt</mat-icon>
              {{ theme.countOfSubscribers }}
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <div class="title-divider"><mat-divider ></mat-divider></div>
  </div>
</div>
